server_syncs
restic_repo
pass.txt
server.inventory.ini
server_checks.inventory.ini
.DS_Store
wp_local_pass.txt
show_snapshots.sh
main_photos_pass.txt
check_backup_repos.sh
server_main_photos.inventory.ini
wp_db.sql
wp_files.zip
server_create.inventory.ini
restore_wp_local.sh
server_create_without_copy.inventory.ini
server.inventory.old.ini
laptop_lenovo_pass.txt
cron.log
local_backup_vars.yaml
local_backup_playbook.yaml